<section class="page">
	<app-header></app-header>
	<main class="page__main page__main--background-colored">
		<div class="layout">
			<div class="layout__section">
				<div class="layout__inner layout__inner--centered">
					<div class="segmented-button">
						<button class="button button--90"
							[class.active]="currentTimespan === 'day'"
							(click)="switchTimespan('day')"
						>
							{{ 'pages.scores.timespans.day' | translate }}
						</button>
						<button class="button button--90"
							[class.active]="currentTimespan === 'week'"
							(click)="switchTimespan('week')"
						>
							{{ 'pages.scores.timespans.week' | translate }}
						</button>
						<button class="button button--90"
							[class.active]="currentTimespan === 'month'"
							(click)="switchTimespan('month')"
						>
							{{ 'pages.scores.timespans.month' | translate }}
						</button>
						<button class="button button--90"
							[class.active]="currentTimespan === 'year'"
							(click)="switchTimespan('year')"
						>
							{{ 'pages.scores.timespans.year' | translate }}
						</button>
						<button class="button button--90"
							[class.active]="currentTimespan === 'all'"
							(click)="switchTimespan('all')"
						>
							{{ 'pages.scores.timespans.all' | translate }}
						</button>
					</div>
					<app-score-list class="monospace"
						[title]="'pages.scores.list-title' | translate"
						[timespan]="currentTimespan"
						[username]="username"
					>
					</app-score-list>
				</div>
			</div>
		</div>
	</main>
	<footer class="page__footer"></footer>
</section>
