.form {
	max-width: 620px;
	width: 100%;
	margin: auto;

	.input {
		width: 100%;
	}
}

.form__group,
.form__actions {
	margin: 8px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form__group {
}

.form__input {
}

.form__actions {
}

.form__action {
	display: inline-block;
}
