.header__menu {
	display: flex;
	align-items: center;
}

.header__menu-item {
	display: inline-block;
	margin: $spacing * 2;

	&:not(.header__menu-item--right) + .header__menu-item--right {
		text-align: right;
		flex-grow: 1;
	}

	&.header__menu-logo {
		font-size: $font-size-200;
	}
}
