.list {
	width: 100%;
	margin: ($spacing * 2) 0;
}

.list__title {
	font-style: italic;
	text-align: center;
	font-size: $font-size-200;
	margin: $spacing 0;
}

.list__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: $spacing ($spacing * 2);
	transition: background 300ms;

	&:nth-child(odd) {
		background-color: rgba($color-ui, 0.125);
	}

	&.list__item--clickable {
		&:hover {
			box-shadow: inset 0 0 2px $color-ui;
		}
	}
}

.list__item-section {
	&:last-child {
		align-self: flex-end;
	}
}
