$sheet-animation-duration: 200ms !default;
$sheet-z-index: 800 !default;

.sheet {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $sheet-z-index;
	visibility: hidden;

	&.is-visible {
		visibility: visible;
	}
}

.sheet__backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	color: transparent;
	opacity: 0;
	transition-timing-function: ease-out;
	transition-duration: $sheet-animation-duration;
	transition-property: visibility, opacity;

	@include media(0, $range-hand) {
		background-color: rgba($color-black, 0.6);
	}
	@include media($range-lap, false) {
		background-color: rgba($color-black, 0.3);
	}

	.sheet.is-visible & {
		visibility: visible;
		opacity: 1;
	}
}

.sheet__body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: $sheet-z-index + 1;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	max-width: calc(100vw - 32px);
	width: 480px;
	background-color: $color-background;
	opacity: 0;
	transition-timing-function: ease-out;
	transition-duration: $sheet-animation-duration;
	transition-property: visibility, transform, opacity;
	transform: translateX(100%);
	will-change: transform;
	-webkit-font-smoothing: subpixel-antialiased;

	@include media(0, $range-palm) {
		box-shadow: $box-shadow-90;
	}
	@include media($range-hand, false) {
		box-shadow: $box-shadow-100;
	}

	.sheet.is-visible & {
		visibility: visible;
		opacity: 1;
		transform: translateX(0%);
	}
}

.sheet__header {
	position: -webkit-sticky;
	position:         sticky;
	top: 0;
	background-color: $color-background;

	@include media(0, $range-palm) {
		padding-top: $spacing * 2;
		padding-right: $spacing * 2;
		padding-bottom: $spacing;
		padding-left: $spacing * 2;
		box-shadow: 0 0 $spacing $spacing $color-background;
	}
	@include media($range-hand) {
		padding-top: $spacing * 2.5;
		padding-right: $spacing * 3;
		padding-bottom: $spacing;
		padding-left: $spacing * 3;
		box-shadow: 0 0 $spacing $spacing $color-background;
	}
	@include media($range-lap, false) {
		padding-top: $spacing * 3;
		padding-right: $spacing * 4;
		padding-bottom: $spacing;
		padding-left: $spacing * 4;
		box-shadow: 0 0 ($spacing * 2) ($spacing * 2) $color-background;
	}
}

.sheet__title {
	padding-right: $spacing * 8; // NOTE To make sure title is not behind close-action.
	color: $color-heading;
	font-weight: 500;
	line-height: $line-height-40;

	@include media(0, $range-hand) {
		font-size: $font-size-200;
	}
	@include media($range-lap, false) {
		font-size: $font-size-300;
	}
}

.sheet__close-action {
	@include hide-text();
	position: absolute;
	z-index: $sheet-z-index + 2;
	border: none;
	background-color: transparent;

	@include media(0, $range-palm) {
		top: 0;
		right: 0;
		width: $spacing * 4 + $spacing * 1.5;
		height: $spacing * 4 + $spacing * 1.5 + 9px;
	}
	@include media($range-hand) {
		top: $spacing;
		right: $spacing;
		width: $spacing * 4 + $spacing * 1.5;
		height: $spacing * 4 + $spacing * 1.5 + 1px;
	}
	@include media($range-lap, false) {
		top: $spacing * 2;
		right: $spacing * 2;
		width: $spacing * 4 + $spacing * 1.5;
		height: $spacing * 4 + $spacing * 1.5 - 4px;
	}

	&::before {
		@include align(absolute, center, center);
		width: $spacing * 1.5;
		height: $spacing * 1.5;
		background-image: url('assets/images/close-dark.svg');
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		content: '';
		text-indent: 0;
	}
}

.sheet__main {
	overflow: hidden;

	@include media(0, $range-palm) {
		padding: ($spacing) ($spacing * 2) ($spacing * 2) ($spacing * 2);
	}
	@include media($range-hand) {
		padding-top: $spacing;
		padding-right: $spacing * 3;
		padding-bottom: $spacing * 3;
		padding-left: $spacing * 3;
	}
	@include media($range-lap, false) {
		padding-top: $spacing * 2;
		padding-right: $spacing * 4;
		padding-bottom: $spacing * 4;
		padding-left: $spacing * 4;
	}
}
