// ## Dark theme
// ### Hierarchical
$color-call-to-action: #d85311;
$color-primary: #d85311;
$color-secondary: #d68903;
// ### Typography
$color-heading: #fdffe6;
$color-text: #fdffe6;
$color-text-diap: #313131;
// ### User Interface
$color-ui: #a3a3a3;
// ### States
$color-select: #704269;
$color-focus: #704269;
// ## Additional colors
$color-background: #313131;
$color-background-neutral: #f9f9f9;

.input {
	color: $color-text-diap !important;
}

.button {
	color: $color-text !important;
}
