<header class="page__header">
	<div class="header__menu">
		<div class="header__menu-item header__menu-logo">
			<h1 class="monospace">{{ 'global.app-name' | translate }}</h1>
		</div>
		<div class="header__menu-item">
			<a href="#" routerLink="/">
				<button class="button button--90 button--outline"
					[class.active]="currentUrl === '/'"
				>
					{{ 'components.header.menu.home' | translate }}
				</button>
			</a>
			<a href="#" routerLink="/scores">
				<button class="button button--90 button--outline"
					[class.active]="currentUrl === '/scores'"
				>
					{{ 'components.header.menu.scores' | translate }}
				</button>
			</a>
			<a href="#" routerLink="/stats">
				<button class="button button--90 button--outline"
					[class.active]="currentUrl === '/stats'"
				>
					{{ 'components.header.menu.stats' | translate }}
				</button>
			</a>
		</div>
		<div class="header__menu-item header__menu-item--right">
			<div class="segmented-button segmented-button--full">
				<button class="button button--80 button--secondary"
					[class.active]="language === currentLanguage"
					*ngFor="let language of availableLanguages"
					(click)="setLanguage(language)"
				>
					{{ ('global.languages.' + language) | translate }}
				</button>
			</div>
		</div>
	</div>
	<h2 class="clock">{{ time | moment: 'HH:mm:ss' }}</h2>
</header>
