<section class="page">
	<app-header></app-header>
	<main class="page__main page__main--background-colored">
		<div class="layout">
			<div class="layout__section layout__section--centering layout__inner--padded-top-bottom-200">
				<!-- <div class="layout__inner"> -->
					<pre class="ascii-art">
██╗  ██╗ ██████╗ ██╗  ██╗
██║  ██║██╔═████╗██║  ██║
███████║██║██╔██║███████║
╚════██║████╔╝██║╚════██║
     ██║╚██████╔╝     ██║
     ╚═╝ ╚═════╝      ╚═╝<!--
					--></pre>
					<h1 class="title">{{ 'pages.not-found.title' | translate }}</h1>
					<p>{{ 'pages.not-found.content' | translate }}</p>
				<!-- </div> -->
			</div>
		</div>
	</main>
	<footer class="page__footer"></footer>
</section>
