<section>
	<div class="list">
		<h3 class="list__title">{{ title }}</h3>
		<div class="list__items">
			<!-- Empty list -->
			<div class="list__item"
				*ngIf="!posts || !posts.length"
			>
				{{ 'components.score-list.empty-text' | translate }}
			</div>
			<!-- List items -->
			<div class="list__item list__item--clickable"
				*ngFor="let post of posts"
				[routerLink]="'/scores/' + post.name"
			>
				<span class="list__item-section">
					{{ post.name }}
				</span>
				<span class="list__item-section">
					{{ post.time.datetime | time }}
				</span>
			</div>
		</div>
	</div>
</section>
