$button-border-radius: 3px;

@import '~aanzee-harbour/scss/controls/button';

.button {
	border-radius: $button-border-radius;

	&.active {
		background-color: $color-select;

		&:hover,
		&.is-hovered {
			background-color: $color-select-200;
		}
	}

	&.button--inline {
		padding: $spacing * 0.5;
		background: transparent;
		border-radius: 0;
		cursor: pointer;
		user-select: none;
		border-bottom: 1px solid $color-text;

		&:hover,
		&.is-hovered {
			color: $color-select-200 !important;
			border-color: $color-select-200;
			background: transparent;
		}
	}
}
