$input-border-color: #d3d3d3;

$input-background-color: $color-background-neutral !default;
$input-border-color: $color-ui !default;

.input {
	padding: $spacing;
	border-radius: 3px;
	border: 1px solid $input-border-color;
	background-color: $input-background-color;
}
