.segmented-button {
	@include media($range-hand, false) {
		display: inline-block;
	}

	& .button {
		@include media(0, $range-palm) {
			display: block;
			width: 100%;

			&:not(:first-child) {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			&:not(:last-child) {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		@include media($range-hand, false) {
			&:not(:first-child) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			&:not(:last-child) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	&.segmented-button--full {
		@include media(0, $range-palm) {
			& .button {
				border-radius: 0;
			}
		}
	}
}
