<section class="page">
	<app-header></app-header>
	<main class="page__main page__main--background-colored">
		<div class="layout">
			<div class="layout__section">
				<div class="layout__inner">
					<form class="form"
						[formGroup]="leetForm"
						(ngSubmit)="formSubmit()"
						*ngIf="!isLoading"
					>
						<section class="form__group">
							<div class="form__input">
								<input class="input"
									type="text"
									name="test"
									formControlName="name"
									[placeholder]="'pages.home.name-placeholder' | translate"
								>
							</div>
						</section>
						<section class="form__group">
							<div class="form__input">
								<app-recaptcha (tokenChange)="onRecaptchaChange($event)">
								</app-recaptcha>
							</div>
						</section>
						<section class="form__actions">
							<div class="form__action">
								<button class="button button--primary button--90"
									type="submit"
								>
									{{ 'pages.home.form-submit' | translate }}
								</button>
								<button class="button button--80 button--inline"
									type="button"
									(click)="toggleInfoSheet(true)"
								>
									{{ 'pages.home.about-button-text' | translate }}
								</button>
							</div>
						</section>
					</form>
					<app-score-list class="monospace"
						[title]="'pages.home.scores-title' | translate"
						timespan="day"
					>
					</app-score-list>
				</div>
			</div>
		</div>
	</main>
	<footer class="page__footer"></footer>
</section>
<!-- Info sheet -->
<section class="sheet"
	[class.is-visible]="isInfoSheetVisible"
>
	<div class="sheet__body">
		<div class="sheet__header">
			<h1 class="sheet__title">
				{{ 'global.app-name' | translate }}
			</h1>
			<button class="sheet__close-action"
				type="button"
				(click)="toggleInfoSheet(false)"
			>
				{{ 'global.close-action' | translate }}
			</button>
		</div>
		<div class="sheet__main"
			[innerHTML]="'pages.home.about-content' | translate"
		>
		</div>
	</div>
	<div class="sheet__backdrop"
		(click)="toggleInfoSheet(false)"
	></div>
</section>
