// ### Hierarchical
$color-call-to-action: #ea580f;
$color-primary: #ea580f;
$color-secondary: #ea580f;

// ### Typography
$color-heading: #474747;
// $color-subheading: $color-harbour-blue !default;
$color-text: #474747;
// $color-text-diap: $color-harbour-white !default;

// ### User Interface
$color-ui: #7a7a7a;
// $color-ui-accent: $color-harbour-blue !default;

// ### States
// $color-error: $color-harbour-red !default;
// $color-success: $color-harbour-green !default;
// $color-warning: $color-harbour-yellow !default;
$color-select: #704269;
$color-focus: #704269;

// ## Additional colors
// Can be used for shared color variables in different components (e.g. $color-icon), in specific state (e.g. $color-logged-in) or themes (e.g. $color-corporate)
$color-shadow: #000000;
$color-background: #fdffe6;
// $color-background-colored: $color-harbour-grey !default;
$color-background-neutral: #f9f9f9;





// Fixes Harbour issues
$color-background-light: blue;
$color-background-dark: blue;
$border-color: blue;
$color-black: black;
$box-shadow-90: 0 4px 8px rgba($color-shadow, 0.2);
$box-shadow-100: 0 10px 30px rgba($color-shadow, 0.25);
